body {
  background-color: black;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url("mike-petrucci-c9FQyqIECds-unsplash.jpg");
  background-size: 100rem;
  color:white;
}

a {
  color: white;
  display: block;
}

.header {
  font-family: monospace;
  color: white;
  text-decoration: wavy;
  size: 300px; 
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
 width: 1000px;
 height: 200px;
 margin: 10px; 
 background-color: gray;
 border: 2px;
 border-radius: 3%;
 overflow: hidden;
 position: relative;
 transition: transform 0.3s;
}

.product-card:hover {
 transform: translateY(-7px);
}

.nav-links {
  color: white;
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 400px;
}

.product-image-container {
 display: flex;
 align-items:last baseline; 
 height: 100px;
 padding: 100px;
 float: left;
}


.product-image {
 width: 150px;
 height: 100px; 
 object-fit: contain;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 40px;
}

.product-details {
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 color: white; 
 font-size: 16px;
 text-align: center;
}

.product-details-button {
  margin: 60%; 
}

.catalog-header {
  color: grey;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 12%;
}

.home-image {
 width:800px;
 height:600px;
 margin:auto;
 display:grid;
}

.button {
  width: 150px;
  height: 100px;
  justify-content: center;
  background-color: burlywood; 
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-front{
  color: white;

}
