body {
  background-color: black;
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url("mike-petrucci-c9FQyqIECds-unsplash.jpg");
  background-size: 100rem; */
  color:white;
}

a {
  color: white;
  display: block;
}

a.active {
  color: purple;
}

#navbar {
  color: white;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: right;        
  width: 98%;
  font-size: 20px;
}

.home-image {
  width:520px;
  height:350px;
  margin:auto;
  display:grid;
 }

 .shop-button {
  width: 120px;
  height: 50px;
  margin: 10px;   
  background-color: burlywood; 
  font-size: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  font-family: monospace;
  color: white;
  text-decoration: wavy;
  size: 300px; 
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
 width: 310px;
 height: 450px;
 margin: 30px; 
 background-color: black;
 border: 2px;
 border-radius: 4%;
 overflow: hidden;
 position: relative;
 transition: transform 0.5s;
}

.product-card:hover {
 transform: translateY(-9px);
}


.product-image {
 width: 150px;
 /* height: 150px; 
 object-fit: contain;
 margin-left: 30px;
 margin-right: 10px; */
 /* margin-bottom: 40px; */
}

.product-title {
  /* justify-content: left; */
}

p {
  font-size: 25px;
}

.price {
  text-align: center;
  color: white;
}

.product-details-individual {
  width: 50rem;
  margin: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white; 
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}

.details-image {
  margin: 10px;
  height: 250px;
  /* justify-content: center; */
  /* width: 200px; */
  /* object-fit: contain;  */
}

.details-description{
  text-align: left;
}

.back-button {
  background-color: white;
  margin: 10px;
  width: 60px;
  font-size: 16px;
}

.catalog-header {
  color: grey;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 12%;
}

.loading {
  text-align: center;
  font-size: 3rem;
}

.header-signup{
  font-size: 3rem;
}

.login.div.container {
  justify-content: center;
}

.home-imagery {
  text-align: center;
}

.form-front{
  color: white;
  display: flex;
}

@media all and (min-width: 768px) {
  .navbar-links {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
 }
}

@media all and (min-width: 992px) {
  .navbar-links {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media all and (min-width: 1200px) {
  .navbar-links {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}