body {
  background-color: black;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url("mike-petrucci-c9FQyqIECds-unsplash.jpg");
  background-size: 100rem;
  color:white;
}

a {
  color: white;
  display: block;
}

a.active {
  color: purple;
}

.back-button {

}

.header {
  font-family: monospace;
  color: white;
  text-decoration: wavy;
  size: 300px; 
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
 width: 310px;
 height: 450px;
 margin: 30px; 
 background-color: gray;
 border: 2px;
 border-radius: 4%;
 overflow: hidden;
 position: relative;
 transition: transform 0.5s;
}

.product-card:hover {
 transform: translateY(-9px);
}

#navbar {
  color: white;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: right;        
  width: 98%;
  font-size: 20px;
}

.product-image-container {
 text-align: center;
 align-items:last baseline; 
 height: 100px;
}


.product-image {
 width: 150px;
 height: 150px; 
 object-fit: contain;
 margin-left: 30px;
 margin-right: 10px;
 /* margin-bottom: 40px; */
}

.price {
  font-size: 20px;
}

.product-details {
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 color: white; 
 font-size: 16px;
 text-align: center;
}

/* .product-details-button {
  margin: 60%; 
} */

.button-productsID {
  width: 100px;
  height: 30px;
  justify-content: center;
  background-color: burlywood; 
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.catalog-header {
  color: grey;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 12%;
}

.home-image {
 width:800px;
 height:600px;
 margin:auto;
 display:grid;
}

.loading {
  text-align: center;
  font-size: 3rem;
}

.header-signup{
  font-size: 3rem;
}

.login.div.container {
  justify-content: center;
}

.button {
  width: 300px;
  height: 100px;
  margin: 50px;   
  background-color: burlywood; 
  font-size: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.details-button {
  width: 85px;
  height: 30px;
  margin: 20px;   
  background-color: rgb(55, 32, 2);
  color: white; 
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home-imagery {
  text-align: center;
}

.form-front{
  color: white;
  display: flex;
}

@media all and (min-width: 768px) {
  .navbar-links {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
 }
}

@media all and (min-width: 992px) {
  .navbar-links {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media all and (min-width: 1200px) {
  .navbar-links {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}